#hero,
#about,
#projects,
#skills,
#testimonials {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

#contact {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 80vh;
}

.blue-text {
  color: #0e6efd;
  text-decoration: none;
}

/* For buttons and hover effect */
.btn {
  color: black;
  background-color: white;
  border-width: 2px;
  border-color: black;
}

.btn:hover {
  color: white;
  background-color: black;
}

/* Showing and hiding effect animations */
.hidden {
  opacity: 0;
  transition: all 1.5s;
  filter: blur(4px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.list-item:nth-child(1) {
  transition-delay: 200ms;
  background-color: none;
}

/* Hide projects */
.hide-projects {
  display: none;
}

/* Projects before and after hover */
.project {
  opacity: 1;
  filter: none;
  padding-left: 8px;
  padding-right: 8px;
}

.project:hover {
  opacity: 1;
  transition: all 0.2s;
  filter: none;
  transform: scale3d(1.05, 1.05, 1.05);
}

.arrow {
  position: relative;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.heading {
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px;
}

.heading::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #0e6efd;
  left: 0;
  right: 0;
  bottom: -6px;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

.carousel {
  padding: 0 70px;
}

.carousel .carousel-item {
  color: #000000;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  min-height: 280px;
}

.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
}

.carousel .overview b {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #0e6efd;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Reduce the amount of transitions */
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
